<h1>Simple Responsive 2-Column layout</h1>
<p>This is a fluid 2-column layout with a media-query breakpoints for smaller landscape screens (including
    netbooks) and portrait mobiles. Images are forced to 100% width.</p>
    <dt>Landscape Devices</dt>
    <dd>At 1024px wide and lower, the CSS stretches the main container to 100% and retains the 2-column
        Layout
    </dd>
    <dt>Portrait Devices</dt>
    <dd>Absolutely positions the menu at the top of the window and stacks the remaining elements adding
        padding to the
        <pre>&lt;article&gt;</pre>
        element
    </dd>

    <p>The best way to test it is either to <a href="http://codepen.io/TheHeat/fullpage/poyGq"
                                               target="_blank">launch it fullscreen</a> and resize your
        browser window, or open codepen.io/TheHeat/full/poyGq on your phone.</p>